In [2]:
#  1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas
# module.

import pandas as pd

a = [1,2,3,4,5]
b = pd.Series(a)
b

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type. 

print(b)
print(type(b))
print(b.tolist())  #converting series to list
print(type(b.tolist()))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
[1, 2, 3, 4, 5]
<class 'list'>

In [18]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
x = pd.Series([1,2,3,4,5])
y = pd.Series([6,7,8,9])

print(x+y)
print(x-y)
print(x*y)
print(y/x)

0     7.0
1     9.0
2    11.0
3    13.0
4     NaN
dtype: float64
0   -5.0
1   -5.0
2   -5.0
3   -5.0
4    NaN
dtype: float64
0     6.0
1    14.0
2    24.0
3    36.0
4     NaN
dtype: float64
0    6.000000
1    3.500000
2    2.666667
3    2.250000
4         NaN
dtype: float64

In [26]:
# 4. Write a Pandas program to compare the elements of the two Pandas Series

a = pd.Series([1,5,2,3,6])
b = pd.Series([3,1,2,2,5])

print(a == b)
print(a > b)
print(a < b)

0    False
1    False
2     True
3    False
4    False
dtype: bool
0    False
1     True
2    False
3     True
4     True
dtype: bool
0     True
1    False
2    False
3    False
4    False
dtype: bool

In [27]:
# 5. Write a Pandas program to convert a dictionary to a Pandas series.

a = {'name':'Tuba','age':23,'gender':'female'}
pd.Series(a)

name        Tuba
age           23
gender    female
dtype: object

In [30]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series.

import numpy as np
b = np.array([1,2,3,4,5])
pd.Series(b)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [36]:
# 7. Write a Pandas program to change the data type of given a column or a Series.

m = pd.Series([1,'Tuba',5,3.5,'food'])
print(m)
b = pd.to_numeric(m, errors='coerce')
b

0       1
1    Tuba
2       5
3     3.5
4    food
dtype: object

0    1.0
1    NaN
2    5.0
3    3.5
4    NaN
dtype: float64

In [49]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series. 

a = [{'name':'x','age':12},{'name':'y','age':22},{'name':'z','age':13}]
b = pd.DataFrame(a)
print(b)
c = b["name"]
d = pd.Series(c)
print(d)
print(type(d))

  name  age
0    x   12
1    y   22
2    z   13
0    x
1    y
2    z
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [51]:
# 9. Write a Pandas program to convert a given Series to an array. 

a = {'name':'Tuba','age':23,'gender':'female'}
b = pd.Series(a)
print(b)
c = np.array(b)
print(c)
print(type(c))

name        Tuba
age           23
gender    female
dtype: object
['Tuba' 23 'female']
<class 'numpy.ndarray'>

In [56]:
# 10. Write a Pandas program to convert Series of lists to one Series.

a = [[1,2,3],[3,4],[6,7,8]]
s = pd.Series(a)
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

0    [1, 2, 3]
1       [3, 4]
2    [6, 7, 8]
dtype: object
0    1.0
1    2.0
2    3.0
3    3.0
4    4.0
5    6.0
6    7.0
7    8.0
dtype: float64

In [11]:
# 11. Write a Pandas program to sort a given Series
import pandas as pd
s = pd.Series([5,1,8,10.8,0])
print(s)
sorted_series = s.sort_values(ascending= True) #ascending order
print(sorted_series)
sorted_series = s.sort_values(ascending= False) #descending order
print(sorted_series)

0     5.0
1     1.0
2     8.0
3    10.8
4     0.0
dtype: float64
4     0.0
1     1.0
0     5.0
2     8.0
3    10.8
dtype: float64
3    10.8
2     8.0
0     5.0
1     1.0
4     0.0
dtype: float64

In [14]:
# 12. Write a Pandas program to add some data to an existing Series.

a = pd.Series([1,2,3,4,5])
print(a)
b = a.append(pd.Series([0,9,'tuba']))
print(b)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0       1
1       2
2       3
3       4
4       5
0       0
1       9
2    tuba
dtype: object

In [18]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition.

s = pd.Series([4,1,7,2,9,0,4,5])
n = 7
print(s)
print(s[1:6])
print(s[s<n]) # numbers those are less than 7

0    4
1    1
2    7
3    2
4    9
5    0
6    4
7    5
dtype: int64
1    1
2    7
3    2
4    9
5    0
dtype: int64
0    4
1    1
3    2
5    0
6    4
7    5
dtype: int64

In [21]:
# 14. Write a Pandas program to change the order of index of a given series.

s = pd.Series([5,1,2,8,5], index = ['a','b','c','d','e'])
print(s)
y = s.reindex(index = ['e','a','d','c','b'])
print(y)

a    5
b    1
c    2
d    8
e    5
dtype: int64
e    5
a    5
d    8
c    2
b    1
dtype: int64

In [22]:
# 15. Write a Pandas program to create the mean and standard deviation of the data of a given

s = pd.Series([4,1,7,2,9,0,4,5])
print(s)
print(s.mean())
print(s.std())

0    4
1    1
2    7
3    2
4    9
5    0
6    4
7    5
dtype: int64
4.0
3.0237157840738176

In [23]:
# 16. Write a Pandas program to get the items of a given series not present in another given series.

s = pd.Series([4,1,7,2,9,0,4,5])
s2 = pd.Series([4,2,0,6,7,81])

result = s[~s.isin(s2)]
print(result)

1    1
4    9
7    5
dtype: int64

In [29]:
# 17. Write a Pandas program to get the items which are not common of two given series.
import numpy as np
s1 = pd.Series([4,1,7,2,9,0,4,5])
s2 = pd.Series([4,2,0,6,7,81])

s11 = pd.Series(np.union1d(s1,s2))  # union of s1 and s2
s22 = pd.Series(np.intersect1d(s1,s2)) # the numbers which are common in s1 and s2
res = s11[~s11.isin(s22)] #the numbers which are uncommon

print(s11)
print(s22)
print(res)

0     0
1     1
2     2
3     4
4     5
5     6
6     7
7     9
8    81
dtype: int64
0    0
1    2
2    4
3    7
dtype: int64
1     1
4     5
5     6
7     9
8    81
dtype: int64

In [32]:
# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

import pandas as ps
import numpy as np

number = pd.Series(np.random.randint(10,size=30))  # an array where values<10 and the size of the array is 30
print(number)
unique = number.value_counts()  # counting the frequency
print(unique)

0     5
1     2
2     7
3     4
4     4
5     5
6     8
7     9
8     3
9     6
10    9
11    2
12    0
13    4
14    6
15    1
16    9
17    0
18    1
19    5
20    7
21    5
22    7
23    9
24    7
25    8
26    8
27    5
28    5
29    9
dtype: int32
5    6
9    5
7    4
8    3
4    3
6    2
2    2
1    2
0    2
3    1
dtype: int64

In [8]:
# 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

s = pd.Series([4,18,5,10,15,6,120,67,2,14,80])
a = pd.Series(s[s%5==0])  # checking the condition
print(a)
print(list(a[:].index)) # way to fetch the index

2       5
3      10
4      15
6     120
10     80
dtype: int64
[2, 3, 4, 6, 10]

In [28]:
# 22. Write a Pandas program to extract items at given positions of a given series.

s = pd.Series([4,18,5,10,15,6,120,67,2,14,80])
print(s)
i = [1,3,5,7]
a = s.take(i)
print(a)

0       4
1      18
2       5
3      10
4      15
5       6
6     120
7      67
8       2
9      14
10     80
dtype: int64
1    18
3    10
5     6
7    67
dtype: int64

In [23]:
# 23. Write a Pandas program to get the positions of items of a given series in another given series.

import pandas as pd
s = pd.Series([4,18,5,10,15,6,120,67,2,14,80])
s2 = pd.Series([4,18,5,10,15,6,2,14])
print([pd.Index(s).get_loc(i) for i in s2])   #for getting the index

[0, 1, 2, 3, 4, 5, 8, 9]

In [28]:
s = pd.Series([4,18,5,10,15,6,120,67,2,14,80])
print(pd.Index(s).get_loc(10))

3

In [19]:
# 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

import pandas as pd
s1 = pd.Series(['abc','def','sdf','qzcv','kjas'])

res = map(lambda x: x[0].upper()+x[1:-1]+x[-1].upper(),s1)
print(list(res))

['AbC', 'DeF', 'SdF', 'QzcV', 'KjaS']

In [12]:
s = ['a','b']
a = map(lambda x: x.upper()+'a', s)
print(list(a))

['Aa', 'Ba']

In [20]:
# 25. Write a Pandas program to calculate the number of characters in each word in a given series.

s1 = pd.Series(['abc','def','sdf','qzcv','kjas'])
res = map(lambda x: len(x),s1)
print(list(res))

[3, 3, 3, 4, 4]

In [25]:
# 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

s = pd.Series([1,5,3])
print(s)
print(s.diff().tolist())   # tolist() converts scalar values in list
print(list(s.diff().diff()))  # diff() finds the difference between a row and its previous row

0    1
1    5
2    3
dtype: int64
[nan, 4.0, -2.0]
[nan, nan, -6.0]

In [27]:
# 27. Write a Pandas program to convert a series of date strings to a timeseries
date = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(date)
print(pd.to_datetime(date)) # converts into date time

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [41]:
# 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series 

from dateutil.parser import parse
date = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
s = date.map(lambda x:parse(x))
print(s)
print(list(s.dt.day))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]
[1, 2, 7, 6, 12, 6]

In [37]:
# 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series 


date = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(date)
c = pd.to_datetime(date)
print(list(c.dt.day))
print(list(s.dt.dayofyear))
print(list(s.dt.weekofyear))

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]